
p {
  text-align: center;
  color: #4d4d4d;
}
.item {
  width: 100%;
  background-color: white;
  min-height: 100px;
  padding: 5px;
  margin: 5px 0px;
  border-radius: 4px;
}


.item.h150{
  width: 100%;
  min-height: 150px;
}

.item.h200{
  width: 100%;
  min-height: 200px;

}

.item.h250{
  width: 100%;
  min-height: 200px;
}
.padding{
  padding: 10px 5px;
}
.free-cart{
  border-radius: 10px!important;
  cursor: pointer;
}
.free-cart .card-body img{
  border-top-left-radius: 10px!important;
  border-top-right-radius: 10px!important;
}
.free-cart .card-footer h6{
  font-size: 14px;
  font-weight: 100;
}
.free-cart .card-footer p{
  font-size: 12px;
}
.cart-fixed .price{
  /*color: #F75431;*/
  margin: 0;
  height: 30px;
  line-height: 30px;
}
.cart-fixed .title,.cart-fixed .need{
  margin: 0;
  min-height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #242424;
}
.cart-fixed .need{
  line-height: 20px;
}
.cart-fixed .card-header img{
  height: 70px;
}
.cart-fixed .card-footer button{
  width: 100%;
  padding: 0.5rem 0;
  font-size: 14px;
}
.options-box .options{
  display: flex;
  flex-wrap: wrap;
}
.options-box .options .option,.pay-method-box .pay-method-option{
  border: 1px solid #fff;
  background-color: #F5F5F5;
  padding: 0 .8rem;
  letter-spacing: .5px;
  line-height: 24px;
  font-size: 12px;
  border-radius: 15px;
  margin-bottom: 5px;
  margin-right: 5px;
  min-width: 60px;
  text-align: center;
}
.pay-method-box .pay-method-option{
  min-width: 105px;
}
.options-box .options .active,.pay-method-box .pay-method-option.active{
  background-color: unset;
  /*border: 1px solid #F75431;*/
  /*color: #F15735!important;*/
}
.options-box .options .disabled,.pay-method-box .pay-method-option.disabled{
  opacity: 0.2;
  /*background-color: #000;*/
}
.do-count-box .count,.do-count-box .count:focus, .do-count-box .count.disabled:focus,.do-count-box .count:focus:active{
  width: 50px;
  border: unset;
  line-height: 24px;
  text-align: center;
  background-color: #F5F5F5;
  font-size: 12px;
}
.do-count-box .icon-item{
  width: 20px;
  height: 20px;
  text-align: center;
}
.btn.disabled, .btn:disabled{
  opacity: 0.5;
}
.cart-fixed-do-css3{
  left: 0;
  display: flex;
  flex-wrap: nowrap;
}
.cart-fixed{
  left: 0;
}
.left-fixed{
  position: fixed;
  bottom: 0;
  margin-bottom: 0!important;
  left: 100vw;
}
.left-fixed.leftshowcss{
  left:0;
  -webkit-animation: left1 0.3s;
  animation: left1 0.3s;
}
.left-fixed.lefthidecss{
  left:100vw;
  -webkit-animation: right1 0.3s;
  animation: right1 0.3s;
}
@-webkit-keyframes left1 {
  from {left: 100vw; opacity: 0;}
  to {left: 0; opacity: 1;}
}

@keyframes left1 {
  from {left: 100vw; opacity: 0;}
  to {left: 0; opacity: 1;}
}

@-webkit-keyframes right1 {
  from {left: 0; opacity: 1;}
  to {left: 100vw; opacity: 0;}
}

@keyframes right1 {
  from {left: 0; opacity: 1;}
  to {left: 100vw; opacity: 0;}
}
.doleft{
  color: #000;
  font-size: 20px;
  font-weight: 100;
  width: 20px;
  height: 20px;
  background: unset;
  border: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  /*position: absolute;*/
  /*left: 20px;*/
  /*top: 10px;*/
  /*cursor: pointer;*/
}
.left-fixed .card-header{
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.left-fixed .card-body{
  background-color: #F5F5F5;
}
.order-cart{
  background-color: #fff;
  border-radius: 5px;
}
.order-cart p{
  text-align: left;
  font-size: 12px;
  line-height: 24px;
}
.confirm-order-img{
  width: 64px;
}
.order-addrss-cart{
  background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAAAKBAMAAACOO0tGAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAnUExURf///4u16Oxtbezz/J3B7NDh9vSmprjS8vGNjfjDw/vd3f7w8O57e0EOI68AAABSSURBVCjPY2CAAE4l7GACVJ4hUBArEIXJL8KuXw0mz4xdv2ABVJ77EHYDGmAGmGDXLwKT58CuX2cDTIEjdgOcYfJJ2A3Qgsmz4/CBwWgQUiMIAXzCOFELLk/nAAAAAElFTkSuQmCC) -7px bottom repeat-x;
  background-size: 64px 3px;
}
.flex-shrink-0{
  flex-shrink: 0;
}
.address-fixed .order-addrss-cart{
  background: #fff;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.address-add-fixed-delete{
  color: #000;
  font-size: 20px;
  font-weight: 100;
  width: 20px;
  height: 20px;
  background: unset;
  border: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.free-product-order-content .card-header{
  min-height: unset;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;
}
.free-product-order-content .card-body{
  display: flex;
}
.free-product-order-content .card-body img{
  width: 100%;
}
.free-product-order-content .card-body p{
  font-size: 12px;
  margin-bottom: 0.25rem;
  text-align: left;
}
.free-product-order-content .card-body .item1{
  width: 35%;
}
.free-product-order-content .card-body .item2{
  width: 40%;
}
.free-product-order-content .card-body .item3{
  width: 25%;
}
.free-product-order-content .card-footer{
  font-size: 12px;
  text-align: right;
}